    body {
        padding: 0;
        margin: 0;
    }
    
    @font-face {
        font-family: "TimesNewRoman";
        src: url(font/TimesNewRoman/timesnewroman.ttf);
    }
    
    @font-face {
        font-family: "TimesNewRomanItalic";
        src: url(font/TimesNewRoman/timesnewromanitalic.ttf);
    }
    
    @font-face {
        font-family: "TimesNewRomanBold";
        src: url(font/TimesNewRoman/timesnewromanbold.ttf);
    }
    
    @font-face {
        font-family: "TimesNewRomanBoldItalic";
        src: url(font/TimesNewRoman/timesnewromanbolditalic.ttf);
    }
    /*header*/
    
    .header {
        font-family: TimesNewRoman;
        background: #10161c;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    
    .header .logo {
        display: flex;
        height: 50px;
        align-items: center;
    }
    
    .header .search {
        width: 90%;
    }
    
    .header .search .btn_search {
        display: inline;
    }
    
    .search i {
        top: 8px;
        position: absolute;
        font-size: 18px;
        left: 24px;
    }
    
    .header .search input {
        border: 1px solid;
        outline: none !important;
        border-radius: 10px 0 0 10px;
        font-size: 14px;
        padding-left: 40px;
        width: 80%;
        height: 35px;
        background-color: #c4c5c8;
    }
    
    .header .logo img {
        border-radius: 50px;
        width: 35px;
        height: 35px;
    }
    
    .header .logo p {
        margin: 0px 10px;
        color: #ffffff;
        font-size: 14px;
    }
    
    .header .register-login {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: flex-end;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        height: 65px;
        padding-top: 20px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        top: 50px;
        left: 10px;
        min-width: 105px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        text-decoration: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown p {
        margin: 0;
        color: #ffff;
    }
    
    .profile-createform {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .register-login .create-form {
        margin: 0px 10px;
        color: #ffffff;
        font-size: 14px;
    }
    
    .header .register-login .register {
        height: 24px;
        width: 100px;
    }
    
    .login {
        margin-right: 30px;
    }
    
    .login a {
        font-size: 14px;
        color: #fff;
    }
    
    .register a {
        color: #f5f5f5;
        letter-spacing: 3px;
        border: 1px solid #d6caca;
        border-radius: 5px;
        padding: 7px 15px;
    }
    
    .register a:before {}
    
    .login a:hover,
    .register a:hover {
        text-decoration: none;
        color: #ffcc33;
    }
    /*edit_form.php*/
    
    .content .container-fluid .card-header {
        background-color: #1969d64f;
        color: #115d11;
    }
    /*home*/
    
    .home {
        position: relative;
        font-family: TimesNewRoman;
    }
    
    .home .content-home {
        background-size: cover;
        background-image: url("image/background-home.png");
        height: 815px;
    }
    
    .content-home h2 {
        font-family: TimesNewRomanBold;
        padding-top: 50px;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
    }
    
    .list-item {
        padding-top: 125px;
        padding-bottom: 20px;
    }
    
    .content-home p {
        font-family: TimesNewRomanItalic;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slick-slide {
        margin: 0 15px;
    }
    
    .item {
        font-family: TimesNewRoman;
        width: 100%;
        position: relative;
    }
    /* .slider_item {
    justify-content: ;
} */
    
    .list-item .slider .item .background-company {
        FONT-WEIGHT: 100;
        background: linear-gradient(to right, #3338405e, #5ad3e0bf);
        text-align: center;
        color: #ffffff;
        position: absolute;
        width: 230px;
        height: 105px;
        border-radius: 80px;
        top: 18px;
        left: 85px;
    }
    
    .list-item .slider .item .background-company .myDIV {
        padding-top: 33px;
        font-size: 20px;
        font-weight: 600;
        text-shadow: -3px 5px 4px black;
    }
    
    .info {
        padding-bottom: 10px;
        text-align: center;
        background: linear-gradient(to right, #aad6d26b, #825319b8);
        border-radius: 25px;
        width: 384px;
        height: 335px;
        border: 1px solid #6969698f;
    }
    
    .info p {
        width: 100%;
        color: #ffffff;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        line-height: 15px;
    }
    
    .info .name {
        padding-top: 165px;
        border-radius: 25px;
        width: 400px;
        font-size: 24px;
    }
    
    .info .name_span {
        color: #2b2b2b;
        font-size: 15px;
    }
    
    .info button {
        padding: 10px 25px;
        background-color: #bda47875;
        font-size: 11px;
        color: #eaeaea;
        border: 1px solid #fff;
        outline: none !important;
        border-radius: 10px;
        margin-top: 17px;
    }
    
    .info .infor_button:hover {
        background-color: #078acc93;
        transition: all 0.5s;
    }
    
    .show-report {
        font-family: TimesNewRoman;
    }
    
    .show-report h2 {
        margin-top: 0px;
        color: #000000;
        font-size: 16px;
        text-align: start;
    }
    
    .show-report p {
        font-size: 14px;
        color: #000000;
        text-align: start;
        margin-top: 0px;
        width: auto;
    }
    
    .content-home .show-report_name .name-student {
        color: #217469;
        font-size: 35px;
        padding: 25px;
        height: auto;
        width: auto;
        font-weight: 600;
    }
    
    .show-report table {
        width: 100%;
    }
    
    .show-report table th {
        padding: 5px 5px;
        border: 1px solid #000000;
    }
    
    .show-report-shiken {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .skiken-left {
        width: 50%;
    }
    
    .skiken-right {
        width: 50%;
    }
    /*footer*/
    
    .footer {
        font-family: TimesNewRoman;
        background: #000000;
        padding: 15px;
    }
    
    .footer-content p {
        margin: 0;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }
    /*Register Page*/
    
    .register-page {
        padding: 50px 0px 30px 0px;
        font-family: TimesNewRoman;
        background-size: cover;
        background-image: url("image/background-register.png");
        height: 840px;
    }
    
    .content-register-page {
        display: block;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        background-color: #d9dbde;
        width: 600px;
        padding: 0px 30px;
        border-radius: 10px;
        border: 1px solid #d9dbde;
    }
    
    .content-register-page input,
    .content-register-page select {
        margin-top: 15px;
        padding-left: 20px;
        width: 100%;
        height: 40px;
        border: 1px solid #000000;
        outline: none !important;
        border-radius: 5px;
    }
    
    .student-number-gender {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .student-number-gender input {
        width: 50%;
    }
    
    .student-number-gender select {
        width: 40%;
    }
    
    .content-register-page p {
        font-size: 24px;
        margin-top: 30px;
    }
    
    .content-register-page button {
        margin-top: 30px;
        border: 1px solid;
        border-radius: 5px;
        padding: 15px 250px;
        background: #8fc4df;
        outline: none !important;
        cursor: pointer;
    }
    
    .login-page-register p {
        font-size: 16px;
        color: #999999;
    }
    
    .login-page-register a:hover {
        text-decoration: none;
    }
    /*login-page*/
    
    .login-page {
        height: 600px;
        font-family: TimesNewRoman;
        background-image: url("image/background-home.png");
        background-size: cover;
        height: 840px;
    }
    
    .content-login-page {
        padding-top: 40px;
        text-align: center;
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .content-login-page h2 {
        font-size: 30px;
        color: #ffffff;
        margin-top: 50px;
    }
    
    .content-login-page p {
        font-size: 16px;
        margin: 0px;
        color: #ffffff;
    }
    
    .form-login {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.7;
        background: #827461;
        width: 450px;
    }
    
    .form-login input {
        border-radius: 0px 10px 10px 0px;
        height: 40px;
        width: 100%;
        outline: none !important;
        border: 1px solid #aba450;
    }
    
    .error-validate {
        margin: 5px 0px;
        text-align: start;
    }
    
    .error-validate span {
        color: red;
    }
    
    .detail-form-login {
        padding: 20px 30px 0px 30px;
        margin-top: 50px;
    }
    
    .form-login img {
        width: 20%;
    }
    
    .input-email,
    .input-password {
        margin-top: 20px;
        display: flex;
    }
    
    .input-email img,
    .input-password img {
        width: 9%;
        border: 1px solid #aba450;
        border-radius: 10px 0px 0px 10px;
    }
    
    .tern input {
        width: 7%;
    }
    
    .tern {
        display: flex;
        margin-top: 20px;
        height: 20px;
        align-items: center;
    }
    
    .detail-form-login button {
        margin: 20px 0px;
        background: #4bb05d;
        border: 1px solid #000000;
        border-radius: 5px;
        outline: none !important;
        padding: 10px 40px;
    }
    
    .register-login-page {
        margin-top: 20px;
    }
    /*edit from*/
    
    .car-body.form-group .form-group_item {
        width: 100%;
        height: 30px;
        margin-left: 137px;
        border-radius: 5px;
    }
    /*create_form*/
    
    .create-form-student {
        margin: 50px 0px;
    }
    
    .create-form-student {
        font-family: TimesNewRoman;
        border: 2px solid #307e5e;
        background: linear-gradient(to right, #2965ea85, #51c0cc);
        margin: 20px;
    }
    
    .input-registration_date input {
        width: 50% !important;
    }
    
    .code-student-id p {
        width: 54% !important;
    }
    
    .create-form-student h2 {
        font-size: 36px;
        color: #000000;
        text-align: center;
        margin-top: 40px;
    }
    
    .form-left .form-left-firt p {
        font-size: 16px;
        width: 20%;
    }
    
    .form-left-firt label {
        display: flex;
    }
    
    .form-left-firt input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #000000;
    }
    
    .form-left-firt select {
        height: 30px;
        border-radius: 5px;
        border: 1px solid #000000;
    }
    
    .form-left-firt textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #000000;
    }
    
    .code-name-gender-student {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .code-student,
    .full-name,
    .gender {
        width: 40%;
    }
    
    .input-registration_date p {
        width: 17% !important;
    }
    
    .gender-label {
        width: 17%;
    }
    
    .code-student-id input {
        margin-left: 13px;
    }
    
    .code-name-gender-student input {
        width: 28%;
    }
    
    .full-name-label input {
        width: 75%;
    }
    
    .form-left-end label {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    
    .form-left-end .slect-chapter_label {
        justify-content: none;
    }
    
    .slect-chapter-firt {
        display: flex;
        flex-wrap: wrap;
    }
    
    .slect-chapter-firt label {
        width: 48%;
        margin-left: 10px;
    }
    
    .slect-chapter-firt label p {
        width: 60%;
    }
    
    .detail-interview {
        text-align: center;
        font-size: 24px;
        font-family: TimesNewRomanBold;
    }
    
    .slect-chapter-firt select {
        width: 100%;
        height: 30px;
        margin-left: 137px;
        border-radius: 5px;
    }
    
    .slect-chapter-firt_item {
        margin-top: 25px;
    }
    
    .form-left-end input {
        height: 30px;
        border-radius: 5px;
        border: 1px solid #10161c;
        outline: none !important;
    }
    
    .form-left-end textarea {
        height: 70px;
        border-radius: 5px;
        width: 100%;
    }
    
    .form-right-firt label {
        display: flex;
        justify-content: space-between;
    }
    
    .form-right-firt input {
        height: 30px;
        width: 100%;
        border-radius: 5px;
        outline: none !important;
        border: 1px solid #10161c;
    }
    
    .exam-forms-label p {
        width: 84px !important;
    }
    
    .exam-forms-label input {
        height: 30px;
        width: 50%;
        border-radius: 5px;
        outline: none !important;
        border: 1px solid #10161c;
    }
    
    .display-radio {
        display: flex;
    }
    
    .display-radio label {
        margin: 0px 20px 0px 10px;
    }
    
    .form-right-firt label p {
        width: 20%;
    }
    
    .address-hall p {
        width: 145px !important;
    }
    
    .active-label p {
        width: 97px !important;
    }
    
    .form-right-firt textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #10161c;
        outline: none !important;
    }
    
    .exam-forms label {
        display: flex;
        flex-wrap: wrap;
    }
    
    .exam-forms label p {
        width: 20%;
    }
    
    .exam-forms label input[type="date"] {
        height: 30px;
        width: 100%;
    }
    
    .submit-form {
        padding: 20px 0px;
        text-align: center;
    }
    
    .form-left-end h2 {
        text-align: center;
        font-size: 24px;
        font-family: TimesNewRomanBold;
    }
    
    .date-time-label input {
        width: 38% !important;
    }
    
    .date-time-label .together {
        margin-left: 90px;
    }
    
    .date-time-label p {
        width: 97px !important;
    }
    
    .input-smail input {
        width: 100% !important;
    }
    
    .form-left-firt {
        margin-top: 50px;
    }
    
    .submit-form button {
        color: #ffffff;
        padding: 10px 50px;
        font-size: 24px;
        border-radius: 10px;
        border: 1px solid #ffcc99;
        background: #336600;
    }
    /*profile-user*/
    
    .update-profile-user {
        border: 1px solid black;
        width: 600px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .update-profile-user h2 {
        text-align: center;
    }
    
    .content-update-profile-user {
        padding: 20px;
    }
    
    .slider .slick-prev {
        left: 0%;
    }
    
    .slider .slick-next {
        right: 0%;
    }
    
    .modal-dialog .modal-content {
        border-radius: 2px solid rgb(8, 41, 49);
    }
    
    .modal-content .modal-header {
        background-color: rgb(50, 86, 128);
        box-shadow: 1px 5px 10px rgb(65, 62, 21);
    }
    
    .modal-title {
        text-shadow: 1px 1px 2px black, 0 0 10px rgb(247, 191, 7), 0 0 0.2em blue;
        color: white;
    }
    
    .show-report {
        margin-top: 20px;
    }
    
    .card-footer {
        width: 100%;
        text-align: center;
    }
    
    .hide {
        display: none;
    }
    
    .hide .hide-name {
        font-size: 16px;
        margin: 10px;
        color: #fff;
    }
    
    .hide .hide-company_name {
        font-size: 16px;
        color: #fff;
        margin: 10px;
    }
    
    .myDIV:hover+.hide {
        background: blue;
        cursor: grab;
        position: absolute;
        width: 200px;
        height: 150px;
        border: 1px solid #000000;
        border-radius: 10px;
        display: block;
    }




    /* Reponsive  */
    
    @media (max-width: 991px) {
        .register a {
            padding: 9px 10px;
        }
        .info p {
            font-size: 14px;
        }
        .home .content-home {
            height: auto;
        }
        .show-report-student p {
            font-family: TimesNewRoman;
            color: #000000;
            font-size: 16px;
            text-align: start;
            margin-top: 10px;
        }
        .show-report .thumb-avatar img {
            width: 100%;
            height: auto;
        }
        .dropdown-content {
            margin-left: -10px;
            min-width: 105px;
        }
    }
    
    @media (max-width: 767px) {
        .login {
            margin-right: 10px;
        }
        .register-login-page {
            padding: 0px 15px;
        }
        .update-profile-user {
            width: auto;
            margin-left: 15px;
            margin-right: 15px;
        }
        .slect-chapter-firt label {
            width: 100%;
            margin-left: auto;
        }
        .header .register-login {
            justify-content: space-between;
        }
    }
    
    @media (max-width: 575px) {
        .content-register-page {
            width: auto;
        }
        .content-register-page button {
            padding: 15px 70px;
        }
        .content-login-page {
            width: auto;
            padding-top: 20px;
        }
        .form-login {
            width: auto;
        }
        .input-email img,
        .input-password img {
            width: 9%;
            height: 40px;
        }
        .form-right-firt label p {
            width: 100% !important;
        }
        .form-right-firt label {
            flex-wrap: wrap;
        }
        .code-student-id p {
            width: 30% !important;
        }
        .gender-label {
            width: 40%;
        }
        .slect-chapter-firt label p {
            width: 100%;
        }
        .date-time-label .together {
            margin-left: 0px;
            margin-top: 10px;
        }
        .date-time-label input {
            width: 100% !important;
        }
        .input-smail input {
            margin-top: 10px;
        }
        .input-registration_date p {
            width: 100% !important;
        }
        .exam-forms-label p {
            width: 100% !important;
        }
        .exam-forms label p {
            width: 100%;
        }
        .exam-forms-label input {
            width: 100%;
        }
        .skiken-left,
        .skiken-right {
            width: 100%;
        }
    }
    
    @media (max-width: 375px) {
        .input-email img,
        .input-password img {
            width: 13%;
            height: 40px;
        }
        .item .thumb img {
            width: 100px;
            height: 100px;
        }
    }